{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan QR untuk Absen</title>
    <link rel="stylesheet" href="{% static 'css/admin/qradmin.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="dashboard">
        <div class="sidebar">
            <div class="profile">
                <a href="{% url 'dashboard_admin' %}">
                    <img src="/media/logo.jpeg" alt="Foto Admin">
                </a>
                <h4><a href="{% url 'generate_admin_qrcode' %}"></a>Admin</h4>
            </div>
            <ul>
                <li><a href="{% url 'generate_admin_qrcode' %}">📷 Buka QR Code</a></li>
                <li><a href="{% url 'list_absen' %}">📋 Daftar Absensi</a></li>
                <li><a href="{% url 'jadwal_admin' %}">📆 Jadwal Guru</a></li>
                <li><a href="{% url 'registrasi' %}">➕ Buat Akun</a></li>
                <li><a href="{% url 'list_users' %}">👥 Lihat Akun</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="centered-content">
                <h1 style="color:#6a0dad ;">📷 QR Code Absensi</h1>
                <h4>Selamat Pagi!! 🌞<br>Silakan scan QR code di bawah ini untuk melakukan absensi.</h4>
                <div class="qr-wrapper">
                    <img src="{{ daily_qr.qrcode.url }}" alt="QR Code {{ daily_qr.tanggal }}">
                </div>
                <p class="tanggal" style="color: #9b30ff;">📅 {{ daily_qr.tanggal|date:"l, d M Y" }}</p>
            </div>
        </div>
    </div>
    
</body>

</html>