{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan QR untuk Absen</title>
    <link rel="stylesheet" href="{% static 'css/qradmin.css' %}">
    <link rel="stylesheet" href="{% static 'css/D_Guru.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    

    <div class="container">
        <h1 class="fade-in">📷 QR Code Absensi</h1>
        <p class="fade-in-delay">Silakan scan QR code di bawah ini untuk melakukan absensi.</p>
        <div class="qr-wrapper float-in">
            <img src="{{ daily_qr.qrcode.url }}" alt="QR Code {{ daily_qr.tanggal }}">
        </div>
        <p class="tanggal">📅 {{ daily_qr.tanggal|date:"l, d M Y" }}</p>
    </div>
</body>
</html>
