body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
}
.container {
    flex: 1;
    padding: 30px;
    margin-left: 0; /* ubah ini dari 270px ke 0 */
}

h2 {
    font-size: 26px;
    margin-bottom: 30px;
    color: #4a148c;
    text-transform: uppercase;
    font-weight: bold;
}

/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 14px 18px;
    text-align: left;
}

th {
    background-color: #6a1b9a;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

td {
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f3e5f5;
}

tr:nth-child(odd) {
    background-color: #e1bee7;
}

tr:hover {
    background-color: #d1c4e9;
    transition: background-color 0.3s ease;
}

td[colspan] {
    text-align: center;
    font-style: italic;
    color: #757575;
}

/* Responsive */
@media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        border-radius: 0;
        height: auto;
    }

    .container {
        margin-left: 0;
        padding: 20px;
    }

    table, th, td {
        font-size: 12px;
    }

    h2 {
        font-size: 20px;
    }
}
