<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan QR Guru</title>
    <link rel="icon" type="image/jpeg" href="/media/logo.jpeg">
    <link rel="stylesheet" href="{% static 'css/guru/scan.css' %}">

</head>
<body>
    <div class="dashboard">
    <div class="burger" onclick="toggleSidebar()">☰</div>
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="profile">
                <a href="{% url 'dashboard_guru' %}">
                    <img src="/media/logo.jpeg" alt="Foto Guru">
                </a>
                <h3>{{ request.user }}</h3>
                <h4>Guru</h4>
            </div>
            <ul>
                <li><a href="{% url 'scan_qr_view' %}">📷 Scan QR</a></li>
                <li><a href="{% url 'rekap_guru' %}">📄 Lihat Rekap</a></li>
                <li><a href="{% url 'absent' %}">📝 Ajukan Izin</a></li>
                <li><a href="{% url 'logout' %}">🔚Logout</a></li>
            </ul>
        </aside>

        <!-- Main Content -->
        <main class="container">
            <h2>SCAN UNTUK ABSEN HARI INI</h2>
            {% block content %}
                <h2>Tambah Absensi</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn">Simpan</button>
                </form>
                <a href="{% url 'view_absensi' %}">← Kembali</a>
            {% endblock %}
        </main>
    </div>
</body>
<script>
    function toggleSidebar() {
        const sidebar = document.querySelector(".sidebar");
        sidebar.classList.toggle("active");
    }

    // Tutup sidebar kalau klik di luar
    document.addEventListener("click", function (event) {
        const sidebar = document.querySelector(".sidebar");
        const burger = document.querySelector(".burger");

        if (
            sidebar.classList.contains("active") &&
            !sidebar.contains(event.target) &&
            !burger.contains(event.target)
        ) {
            sidebar.classList.remove("active");
        }
    });
</script>

</html>
