{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Guru</title>
    <link rel="stylesheet" href="{% static 'css/side_guru.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">

</head>
<body>
    <div class="dashboard">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="profile">
                <img src="/media/logo.jpeg" alt="Foto Admin">
                <h3>{{ request.user }} </h3>
                <h4><a href="#"></a>Guru</h4>
            </div>
            <ul>
                <li><a href="{% url 'scan_qr_view' %}" class="btn btn-primary">📷Scan QR</a></li>
                <li><a href="{% url 'list_absen' %}" class="btn btn-success">Lihat Rekap</a></li>
                <li><a href="{% url 'jadwal_guru' %}"class="btn btn-info">Lihat Jadwal</a></li>
                <li><a href="{% url 'absent' %}" class="btn btn-warning">Ajukan Izin</a></li>
            </ul>
        </div>
    </div>
        <div class="content">
            <h1>Selamat Datang, {{ request.user }}</h1>
            <div class="paragraf">
                Gunakan menu di sebelah kiri untuk mengelola absensi, jadwal, dan pengajuan izin.
            </div>
        {%block content%}
        <div class="absensi-status card">
            <h3>📍 Status Absensi Hari Ini</h3>
            {% if status %}
                <p>✅ Kamu sudah absen sebagai <strong>{{ status }}</strong>.</p>
            {% else %}
                <p>⏳ Kamu belum melakukan absensi hari ini.</p>
            {% endif %}
        </div>
        

        {% endblock %}

        </div>
   

</body>
</html>

