{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Absensi</title>
    <link rel="stylesheet" href="{% static 'css/absen.css' %}">
</head>
<body>
    <h2>Form Absensi</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Status Absensi:</label>
        <select name="status">
            <option value="Hadir">Hadir</option>
            <option value="Izin">Izin</option>
            <option value="Sakit">Sakit</option>
            <option value="Alfa">Alfa</option>
        </select><br>
        <div id="keterangan" style="display: none;">
            <label for="keterangan">Alasan Sakit:</label>
            <textarea name="keterangan"></textarea>
        </div>
    
        <div id="keterangan" style="display: none;">
            <label for="keterangan">Alasan Izin:</label>
            <textarea name="keterangan"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
<script>
    navigator.geolocation.getCurrentPosition(function(position) {
        document.getElementById("latitude").value = position.coords.latitude;
        document.getElementById("longitude").value = position.coords.longitude;
    }, function(error) {
        alert("GPS tidak aktif atau tidak dapat mengambil lokasi.");
    });
        document.getElementById('status').addEventListener('change', function () {
            document.getElementById('keterangan_sakit').style.display = 'none';
            document.getElementById('keterangan_izin').style.display = 'none';
        
            if (this.value === "Sakit") {
                document.getElementById('keterangan_sakit').style.display = 'block';
            } else if (this.value === "Izin") {
                document.getElementById('keterangan_izin').style.display = 'block';
            }
        });
        </script>
</html>